{% render 'partials/head.liquid' %}
{% render 'partials/header.liquid', currentPath: currentPath %}
<main class="home">
    <h1>Welkom op mijn dashboard</h1>
    <section class="dash-grid">
        {% if commerce %}
            <article class="commerce">
                    <h2>{{ commerce.totalOrders }} <em> Bestellingen </em></h2>
                    <p>Je hebt al <em>{% if commerce.currency == 'EUR' %}€{% else %}{{ commerce.currency }},-{% endif %} {{ commerce.totalValue | floor }}</em> verdient afgelopen <em>7 dagen</em></p>
                    <div class="shopify-summ">
                        {% render 'partials/picture.liquid',
                            imagesrc:"/assets/images/shopify",
                            width: "40",
                            height: "40",
                            alt: "Shopify logo",
                            class: "",
                        %}
                        <p>Shopify</p>
                        <a href="/webshops/shopify">{{ commerce.shopify.orderCount }} Bestellingen</a>
                    </div>
                    <div class="mirakl-summ">
                        {% render 'partials/picture.liquid',
                            imagesrc:"/assets/images/mirakl",
                            width: "40",
                            height: "40",
                            alt: "Mirakl logo",
                            class: "",
                        %}
                        <p>Shopify</p>
                        <a href="/webshops/mirakl">{{ commerce.mirakl.orderCount }} Bestellingen</a>
                    </div>
            </article>
        {% endif %}

        {% if weather %}
            <article class="weather">
                article
            </article>
        {% endif %}

        {% if spotify %}
            <article class="spotify">
                article
            </article>

        {% endif %}
        {% if github %}
            <article class="github">
                article
            </article>
        {% endif %}
    </section>
</main>